@import "../../../styles/colors";

.container {
  display: flex;
  flex-direction: column;
  gap: 22px;
  margin: 28px 0;

  .circle__blue {
    background-color: $primaryMain;
    width: 6px;
    height: 6px;
    border-radius: 50%;
  }
}
