@import "../colors";

.container {
  min-height: 100dvh;
  overflow-x: hidden;

  > header {
    padding: 22px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    position: fixed;
    top: 0;
    background: $white;
    z-index: 100;
  }
}
